<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="2012nov18"
            name="Sample Category">
      </category>
      <view
            category="2012nov18"
            class="nov18.views.RubyConsoleView"
            icon="icons/sample.gif"
            id="nov18.views.SampleView"
            name="Sample View">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="nov18.views.SampleView"
               ratio="0.5"
               relationship="right"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="2012nov18.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="2012nov18.commands.category"
            id="2012nov18.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="nov18.handlers.SampleHandler"
            commandId="2012nov18.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="menu:org.eclipse.ui.main.menu?after=additions">
         <menu
               id="2012nov18.menus.sampleMenu"
               label="Sample Menu"
               mnemonic="M">
            <command
                  commandId="2012nov18.commands.sampleCommand"
                  id="2012nov18.menus.sampleCommand"
                  mnemonic="S">
            </command>
         </menu>
      </menuContribution>
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="2012nov18.toolbars.sampleToolbar">
            <command
                  commandId="2012nov18.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="2012nov18.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
