<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.views">
      <category
            id="my.eclipse.repl"
            name="Eclipse REPL">
      </category>
      <view
            category="my.eclipse.repl"
            class="my.eclipse.repl.jruby.views.RubyConsoleView"
            icon="icons/sample.gif"
            id="my.eclipse.repl.jruby.views.SampleView"
            name="Jruby REPL">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               id="my.eclipse.repl.jruby.views.SampleView"
               ratio="0.5"
               relationship="stack"
               relative="org.eclipse.ui.views.ProblemView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <category
            id="my.eclipse.repl.jruby.commands.category"
            name="Sample Category">
      </category>
      <command
            categoryId="my.eclipse.repl.jruby.commands.category"
            id="my.eclipse.repl.jruby.commands.sampleCommand"
            name="Sample Command">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="my.eclipse.repl.jruby.handlers.SampleHandler"
            commandId="my.eclipse.repl.jruby.commands.sampleCommand">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="my.eclipse.repl.jruby.toolbars.sampleToolbar">
            <command
                  commandId="my.eclipse.repl.jruby.commands.sampleCommand"
                  icon="icons/sample.gif"
                  id="my.eclipse.repl.jruby.toolbars.sampleCommand"
                  tooltip="Say hello world">
            </command>
         </toolbar>
      </menuContribution>
   </extension>

</plugin>
